
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
    <div class="main__signup">
      <div class="container login_container">
          <h2>Login</h2>
          {{!-- Form --}}
          <form method="POST" action="/login">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-danger signup__terms">Login</button>
            <div class="mb-3 form-check">
            </div>
            <a href="/auth/google"><img class="signup__google" src="/images/buttom__googler.png" alt=""></a>
            {{#if errorMessage}}
              <p>{{ errorMessage }}</p>
            {{/if}}
        </form>

        </div>
      </div>
    </div>
    {{!-- Poster --}}
  <div class="col d-flex justify-content-end image__poster--login">
    <img src="/images/login__profile.jpeg" alt="">
  </div>
  </div>
  
</div>



