<a href="/game/{{id}}">
  <div class="card">
    <img src="{{background_image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-center">{{name}}</p>
    </div>
  </div>
</a>
