<div class="row justify-content-center py-5">
  <div class="col-6">
    <form action="/games/search" method="get" class="d-flex">
      <input type="text" class="form-control" name="search" placeholder="Search..." value="{{search}}">
      <button type="submit" class="btn ms-2"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>