{{> profileBanner }}
<br>
<div class="container">
  <h3>Wishlist</h3>
  <div class="d-flex flex-wrap justify-content-center">
    {{#each user.wishlist}}
    <div class="game-container">
      {{> gameCard }}
      {{#if authUser}}
      <div class="game-card-actions d-flex">
        <form method="POST" action="/game/add-collection">
          <input type="hidden" class="hide" name="gameID" value="{{id}}">
          <button type="submit" class="remove-collection">
            <i class="far fa-bookmark"></i>
          </button>
        </form>
        <form method="POST" action="/game/remove-wishlist">
          <input type="hidden" class="hide" name="gameID" value="{{id}}">
          <button type="submit" class="wishlist"><i class="fas fa-heart"></i>
          </button>
        </form>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>